version: '3'

services:
  api-gateway:
    image: node:8.9.0
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - 6040:6040
    command: ["npm", "run", "dev"]
    env_file:
      - .env
    environment:
      COMPONENTS_SERVICE_URI: http://components_service:6010/api
      INCIDENTS_SERVICE_URI: http://incidents_service:6020/api
      NOTIFICATION_SERVICE_URI: http://notification_service:6030/api
    networks:
      default:
        aliases:
          - api_gateway
  redis:
    image: "redis"
    ports:
      - 6041:6379

networks:
  default:
    external:
      name: status_page_app