NODE_ENV=production

## http request logs
ENABLE_HTTP_REQUEST_LOGS=true ## true , false

## application logs. This setting is optional. If no value is provided
## no logs will be captured for this service.
LOG_LEVEL=debug  ## debug, info, warn, error


## MONGO Db endpoint. This should be full url with the database name
MONGO_ENDPOINT=mongodb://dave:password@localhost:27017/myproject

RABBMITMQ_CONN_ENDPOINT=amqp://localhost


#########################
### EMAIL SETTINGS ###
#########################

SMTP_HOST_NAME=smtp.mailtrap.io
SMTP_PORT=1234
SMTP_USERNAME=username
SMTP_PASSWORD=password
SYSTEM_EMAIL_FROM_ADDRESS=admin@site.com
EMAIL_HEADER_COMPANY_NAME=Test Status Page


#####################
### AUTH ####
#####################

JWT_SECRET_KEY=5AF412CBBEADFE7B5B74ED1185441
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password


## Redis endpoint.
REDIS_ENDPOINT=tcp://redis:6041