version: '3'

services:
  mongo_db:
    image: "mongo:3.4"
    ports:
      - 7011:27017
  redis:
    image: "redis"
    ports:
      - 6380:6379
  logger-service:
    build: logger-service/.
    working_dir: /
    env_file:
      - ./.env
    environment:
      SERVICE_NAME: logger-service
      PORT: 7000
    ports:
        - 7000:7000
    links:
        - mongo_db
  components-service:
    build: components-service/.
    working_dir: /
    env_file:
      - ./.env
    environment:
      SERVICE_NAME: 'components-service'
      PORT: 7010
    ports:
        - 7010:7010
    links:
        - logger-service
  incidents-service:
    build: incidents-service/.
    working_dir: /
    env_file:
      - ./.env
    environment:
      SERVICE_NAME: 'incidents-service'
      PORT: 7020
      COMPONENTS_SERVICE_URI: http://components-service:7010/api
    ports:
        - 7020:7020
    links:
        - components-service
  notification-service:
    build: notification-service/.
    working_dir: /
    env_file:
      - ./.env
    environment:
      SERVICE_NAME: 'notification-service'
      PORT: 7030
      UI_APP_URI: http://localhost:6050
    ports:
        - 7030:7030
    links:
        - incidents-service
  api-gateway:
    build: api-gateway/.
    working_dir: /
    env_file:
      - ./.env
    environment:
      SERVICE_NAME: 'api-gateway'
      PORT: 7040
      COMPONENTS_SERVICE_URI: http://components-service:7010/api
      INCIDENTS_SERVICE_URI: http://incidents-service:7020/api
      NOTIFICATION_SERVICE_URI: http://notification-service:7030/api
    ports:
        - 7040:7040
    links:
        - redis
        - incidents-service
        - components-service
        - notification-service
  ui-app:
    build:
      context: ui-app/.
      args:
        - PORT=7050
        - ORG_TIMEZONE
        - API_GATEWAY_URI=http://api-gateway:7040
        - API_GATEWAY_HTTP_URI=http://localhost:7040
        - nodeEnv=production
        - COMPANY_NAME
    working_dir: /
    env_file:
      - ./.env
    environment:
      SERVICE_NAME: 'ui-app'
      PORT: 7050
      API_GATEWAY_URI: http://api-gateway:7040
      API_GATEWAY_HTTP_URI: http://localhost:7040
    ports:
        - 7050:7050
    links:
        - api-gateway
